version: '3.4'

services:
  authorsdb:
    container_name: authorsdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=Authorsdb
    restart: always
    ports:
        - "5432:5432"
      
  books:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=Authorsdb;Port=5432;Database=Authorsdb;User Id=postgres;Password=postgres;Include Error Detail=true
    depends_on:
    - authorsdb
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro