version: '3.4'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
  books:
    image: ${DOCKER_REGISTRY-}books
    build:
      context: .
      dockerfile: Books/Dockerfile
    depends_on:
        - db
        
