version: '3.4'

services:
  db:
    ports:
        - "1433:1433"
    environment:
        - ACCEPT_EULA=Y
        - MSSQL_SA_PASSWORD=Password@12345#
    user: "0:0"  # Run the container with root user and group
    security_opt:
      - "seccomp=unconfined"
  books:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultSQLConnection=Server=db;User Id=sa;Password=Password@12345#;TrustServerCertificate=True;MultipleActiveResultSets=true;
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    depends_on:
        - db
    ports:
      - "8080:8080"
      - "8081:8081"